In [1]:
# Função print()

print('Henry')

Henry

In [2]:
# Criação de um dicionário para cada aluno
aluno1 = {'Nome': 'Fabricio Daniel',
          'Idade': 15,
          'Média' : 8.45,
          'Situação': 'Aprovado'}

aluno2 = {'Nome': 'Henry',
          'Idade' : 18,
          'Média': 4.5,
          'Situação': 'Reprovado'}

aluno3 = {'Nome': 'AKEF',
          'Idade': 24,
          'Média': 7,
          'Situação': 'Aprovado'}

# Criação de uma lista com apenas os dois primeiros alunos
alunos = [aluno1, aluno2]
# Adição do terceiro aluno na lista
alunos.append(aluno3)

In [3]:
# Para cada aluno na lista de alunos
for aluno in alunos:
    # Para cada chave e valor do aluno em questão
    for chave, valor in aluno.items():
        # Mostra a chave e o valor na tela
        print(f'{chave}: {valor}')
    # Uma linha após cada aluno mostrado
    print('-' * 25)

Nome: Fabricio Daniel
Idade: 15
Média: 8.45
Situação: Aprovado
-------------------------
Nome: Henry
Idade: 18
Média: 4.5
Situação: Reprovado
-------------------------
Nome: AKEF
Idade: 24
Média: 7
Situação: Aprovado
-------------------------

In [4]:
# Importação da bibilioteca

import pandas as pd

In [5]:
# Criação de um dicionário (em formato que seja possível transformar em dataframe)
dados = {'Cargo': ['Segurança', 'Docente', 'Diretoria'],
         'Quantidade': [5, 16, 1],
         'Salário': [3000, 6000, 12500]}

# Transformação para dataframe usando o pandas
df = pd.DataFrame(dados)

df

       Cargo  Quantidade  Salário
0  Segurança           5     3000
1    Docente          16     6000
2  Diretoria           1    12500

<center>
    <p>Desafio 1: Quantidade total de trabalhadores</p>
    <p>Desafio 2: Diferença entre o maior e menor salário</p>
    <p>Desafio 3: Média ponderada dos salários</p>
</center>

In [6]:
quantidade_seguranca = 5
salario_seguranca = 3000

quantidade_docente = 16
salario_docente = 6000

quantidade_diretoria = 1
salario_diretoria = 12500

In [7]:
quantidade_total = quantidade_seguranca + quantidade_docente + quantidade_diretoria

quantidade_total

22

In [8]:
diferenca_maior_e_menor_salario = salario_diretoria - salario_seguranca
diferenca_maior_e_menor_salario

9500

In [9]:
media = (quantidade_seguranca * salario_seguranca + quantidade_docente * salario_docente + quantidade_diretoria * salario_diretoria) / (quantidade_diretoria + quantidade_docente + quantidade_seguranca)

print(f'{media:.2f}')

5613.64

In [10]:
nome = 'Fabricio'; idade = 15; media = 7.5

print('Nome: %s | Idade: %s | Média: %.1f' %(nome, idade, media))

Nome: Fabricio | Idade: 15 | Média: 7.5

In [101]:
print('\nMinha professora uma vez disse: \'Estudar é a chave do sucesso.\' ')

Minha professora uma vez disse: 'Estudar é a chave do sucesso.'

<center>
    <p>Condição para ver se o aluno foi aprovado</p>
</center>

In [125]:
media = float(input('Digite a média do aluno (0 a 10): '))

# Se a media tiver entre 0 e 5
if 0 <= media <= 5:
    print('Reprovado!')
# Se a media tiver entre 6 e 10
elif 6 <= media <= 10:
    print('Aprovado!')
# Se não tiver entre 0 e 5 ou entre 6 e 10
else:
    print('Nota inválida.')

Aprovado!

<center>
    <p>Outro jeito de fazer</p>
</center>

In [5]:
media = float(input('Digite a média do aluno (0 a 10): '))

if media >= 0 and media <= 5:
    print('Reprovado :(')
else:
    if media >= 6 and media <= 10:
        print('Aprovado!')
    else:
        print('Nota inválida.')

Reprovado :(

<center>
    <h3>Estruturas de repetição</h3>
</center>

<center>
    <p>WHILE</p>
</center>

In [10]:
def LeiaFloat(string):
    while True:
        try:
            valor = float(input(string))
            return valor
        except ValueError:
            print("Valor inválido. Tente novamente.")

In [12]:
contador = 1
while contador <= 3:
    nota1 = LeiaFloat('Digite a primeira nota: ')
    nota2 = LeiaFloat('Digite a segunda nota: ')
    contador += 1 
    print(f'Nota 1: {nota1} | Nota 2: {nota2} | Média: {(nota1 + nota2) / 2}')

Nota 1: 2.0 | Nota 2: 5.0 | Média: 3.5
Nota 1: 10.0 | Nota 2: 0.0 | Média: 5.0
Nota 1: 7.0 | Nota 2: 2.0 | Média: 4.5

<center>
    <p>FOR LOOP</p>
</center>

In [14]:
for contador in range(1, 3 + 1):
    nota1 = LeiaFloat('Digite a primeira nota: ')
    nota2 = LeiaFloat('Digite a segunda nota: ')
    print(f'Nota 1: {nota1} | Nota 2: {nota2} | Média: {(nota1 + nota2) / 2}')

Nota 1: 2.0 | Nota 2: 3.0 | Média: 2.5
Nota 1: 5.0 | Nota 2: 2.0 | Média: 3.5
Nota 1: 9.0 | Nota 2: 1.0 | Média: 5.0

In [ ]:
colonia_A = 4; colonia_B = 10
contador_dias = 0

while colonia_A <= colonia_B:
    colonia_A += colonia_A * (3 / 100)
    colonia_B += colonia_B * (1.5 / 100)

    contador_dias += 1
    print(f'Dia: {contador_dias:.0f} | Colônia-A: {colonia_A:.2f} | Colônia-B: {colonia_B:.2f}.')
print()

print(f'A Colônia-A demorou {contador_dias} dias para chegar na Colônia-B.')