<h3>
    <center>
        LISTAS
    </center>
</h3>

#### Objetivo: Transformar a lista maior em listas simples

In [9]:
notas_turma = [
    'João', 8.0, 9.0, 10.0,
    'Maria', 9.0, 7.0, 6.0,
    'José', 3.4, 7.0, 7.0,
    'Cláudia', 5.5, 6.6, 8.0,
    'Ana', 6.0, 10.0, 9.5
]

In [10]:
nomes = []; notas_juntas = []

for i in range(len(notas_turma)):
    if i % 4 == 0:
        nomes.append(notas_turma[i])
    else:
        notas_juntas.append(notas_turma[i])
print(nomes, notas_juntas)

['João', 'Maria', 'José', 'Cláudia', 'Ana'] [8.0, 9.0, 10.0, 9.0, 7.0, 6.0, 3.4, 7.0, 7.0, 5.5, 6.6, 8.0, 6.0, 10.0, 9.5]

In [11]:
notas = []

for i in range(0, len(notas_juntas), 3):
    notas.append([notas_juntas[i], notas_juntas[i+1], notas_juntas[i+2]])
print(notas)

[[8.0, 9.0, 10.0], [9.0, 7.0, 6.0], [3.4, 7.0, 7.0], [5.5, 6.6, 8.0], [6.0, 10.0, 9.5]]

In [12]:
print(notas[0][2])

10.0

<h3>
    <center>
        TUPLAS
    </center>
</h3>

In [13]:
cadastro = ('Henry', 18, 'São Paulo', 'SP', 'Python para Data Science')

In [14]:
nome, idade, cidade, sigla, curso = cadastro

In [15]:
print(f'O estudante {nome}, de {idade} anos, da cidade de {cidade}-{sigla} está matriculado no curso {curso}.')

O estudante Henry, de 18 anos, da cidade de São Paulo-SP está matriculado no curso Python para Data Science.

In [16]:
print(f'Nome: {nome}\nIdade: {idade}\nCidade: {cidade}\nSigla: {sigla}\nCurso: {curso}')

Nome: Henry
Idade: 18
Cidade: São Paulo
Sigla: SP
Curso: Python para Data Science

In [17]:
estudantes = nomes

print(estudantes)

['João', 'Maria', 'José', 'Cláudia', 'Ana']

In [18]:
from random import randint

def gerar_codigo():
    return str(randint(0, 999))

In [19]:
todos_alunos = []

for i in estudantes:
    aluno_atual = (i, i[0] + gerar_codigo())
    todos_alunos.append(aluno_atual)

print(todos_alunos)

[('João', 'J53'), ('Maria', 'M525'), ('José', 'J986'), ('Cláudia', 'C809'), ('Ana', 'A11')]

<h3>
    <center>
        List comprehension
    </center>
</h3>

In [20]:
notas = [[8.0, 9.0, 10.0], [9.0, 7.0, 6.0], [3.4, 7.0, 7.0], [5.5, 6.6, 8.0], [6.0, 10.0, 9.5]]

In [21]:
def media(lista: list=[0]) -> float:
    calculo = sum(lista) / len(lista)

    return calculo

In [22]:
# Formato: [expressão for item in iteravel]

medias = [round(media(nota), 2) for nota in notas]

print(notas)
print(medias)

[[8.0, 9.0, 10.0], [9.0, 7.0, 6.0], [3.4, 7.0, 7.0], [5.5, 6.6, 8.0], [6.0, 10.0, 9.5]]
[9.0, 7.33, 5.8, 6.7, 8.5]

In [23]:
print(todos_alunos)
print(medias)

[('João', 'J53'), ('Maria', 'M525'), ('José', 'J986'), ('Cláudia', 'C809'), ('Ana', 'A11')]
[9.0, 7.33, 5.8, 6.7, 8.5]

In [24]:
nomes = [aluno[0] for aluno in todos_alunos]

print(nomes)

['João', 'Maria', 'José', 'Cláudia', 'Ana']

In [27]:
alunos = list(zip(nomes, medias))

print(alunos)

[('João', 9.0), ('Maria', 7.33), ('José', 5.8), ('Cláudia', 6.7), ('Ana', 8.5)]

In [31]:
nao_aprovados = []
candidatos = [aluno[0] for aluno in alunos if aluno[1] >= 8]

print(candidatos)

['João', 'Ana']

#### Estrutura de um list comprehension com if else

<code>
    [resultado if cond else resultado_else for item in iteravel]
</code>

In [39]:
nomes_e_codigos = [('João', 'J53'), ('Maria', 'M525'), ('José', 'J986'), ('Cláudia', 'C809'), ('Ana', 'A11')]
notas = [[8.0, 9.0, 10.0], [9.0, 7.0, 6.0], [3.4, 7.0, 7.0], [5.5, 6.6, 8.0], [6.0, 10.0, 9.5]]
medias = [9.0, 7.33, 5.8, 6.7, 8.5]

In [41]:
nomes = [nome[0] for nome in nomes_e_codigos]
nomes

['João', 'Maria', 'José', 'Cláudia', 'Ana']

In [37]:
situacao = ['Aprovado(a)' if media >= 6 else 'Reprovado' for media in medias]

print(situacao)

['Aprovado(a)', 'Aprovado(a)', 'Reprovado', 'Aprovado(a)', 'Aprovado(a)']

In [42]:
situacao_alunos = list(zip(nomes, situacao))

print(situacao_alunos)

[('João', 'Aprovado(a)'), ('Maria', 'Aprovado(a)'), ('José', 'Reprovado'), ('Cláudia', 'Aprovado(a)'), ('Ana', 'Aprovado(a)')]

<h3>
    <center>Dict comprehension</center>
</h3>

#### Formato:

<code>
    {chave: valor for item in iteravel}
</code>

In [73]:
lista_completa = [
    [('João', '3720'), ('Maria', 'M205'), ('José', 'J371'), ('Cláudia', 'C546'),  ('Ana', 'A347')],
    [[8.0, 9.0, 10.0], [9.0, 7.0, 6.0], [3.4, 7.0, 7.0], [5.5, 6.6, 8.0], [6.0, 10.0, 9.5]],
    [9.0, 7.33, 5.8, 6.7, 8.5],
    ['Aprovado', 'Aprovado', 'Reprovado', 'Aprovado', 'Aprovado']
]

In [80]:
colunas = ['Notas', 'Média Final', 'Situação']

cadastro = {colunas[i]: lista_completa[i + 1] for i in range(len(colunas))}

cadastro

{'Notas': [[8.0, 9.0, 10.0],
  [9.0, 7.0, 6.0],
  [3.4, 7.0, 7.0],
  [5.5, 6.6, 8.0],
  [6.0, 10.0, 9.5]],
 'Média Final': [9.0, 7.33, 5.8, 6.7, 8.5],
 'Situação': ['Aprovado', 'Aprovado', 'Reprovado', 'Aprovado', 'Aprovado']}

In [92]:
import pandas as pd

In [95]:
# criando a coluna de nome

cadastro['Estudante'] = [lista_completa[0][i][0] for i in range(len(lista_completa[0]))]

cadastro = pd.DataFrame(cadastro)

cadastro

              Notas  Média Final   Situação Estudante
0  [8.0, 9.0, 10.0]         9.00   Aprovado      João
1   [9.0, 7.0, 6.0]         7.33   Aprovado     Maria
2   [3.4, 7.0, 7.0]         5.80  Reprovado      José
3   [5.5, 6.6, 8.0]         6.70   Aprovado   Cláudia
4  [6.0, 10.0, 9.5]         8.50   Aprovado       Ana