In [5]:
# Importação das bibliotecas

from warnings import filterwarnings
import pandas as pd

In [6]:
# Ignorando avisos

filterwarnings('ignore')

In [8]:
# Leitura dos dados

emissoes_gas = pd.read_excel(
    r'C:\Estudos\alura\data-science\6-pandas-agrupamento\dados\1-SEEG10_GERAL-BR_UF_2022.10.27-FINAL-SITE.xlsx',
    sheet_name='GEE Estados'
)

In [15]:
colunas_mantidas = list(
    emissoes_gas.loc[
        :,
        'Nível 1 - Setor' : 'Produto'
    ]
)

In [17]:
colunas_derretidas = list(
    emissoes_gas.loc[
        :,
        1970 : 2021
    ]
)

In [18]:
# Derretimento do dataframe

emissoes_por_ano = emissoes_gas.melt(
    id_vars=colunas_mantidas,
    value_vars=colunas_derretidas,
    var_name='Ano',
    value_name='Emissão'
)

In [28]:
emissoes_estados_setor = emissoes_por_ano.groupby(
    ['Estado', 'Nível 1 - Setor']
)[['Emissão']].sum()

emissoes_estados_setor

                                                Emissão
Estado Nível 1 - Setor
AC     Agropecuária                       -3.272006e+08
       Energia                             2.071751e+08
       Mudança de Uso da Terra e Floresta  4.704492e+09
       Resíduos                            2.928323e+07
AL     Agropecuária                        1.215829e+09
...                                                 ...
TO     Agropecuária                        2.789108e+09
       Energia                             5.130379e+08
       Mudança de Uso da Terra e Floresta  6.486598e+09
       Processos Industriais               2.613905e+07
       Resíduos                            6.177003e+07

[133 rows x 1 columns]

In [35]:
'''emissoes_estados_setor.groupby(
    level=1
).max()''';

In [56]:
emissoes_estados_setor.xs(
    'MG',
    level=0
).idxmax()[0]

'Agropecuária'

In [67]:
emissoes_estados_setor.groupby(
    level=0
).idxmax().head()

                                         Emissão
Estado
AC      (AC, Mudança de Uso da Terra e Floresta)
AL                            (AL, Agropecuária)
AM                                 (AM, Energia)
AP                                 (AP, Energia)
BA                            (BA, Agropecuária)

In [69]:
emissoes_estados_setor.groupby(
    level=1
).idxmax().head()

                                                                     Emissão
Nível 1 - Setor
Agropecuária                                              (MG, Agropecuária)
Energia                                                        (SP, Energia)
Mudança de Uso da Terra e Floresta  (MT, Mudança de Uso da Terra e Floresta)
Processos Industriais                            (MG, Processos Industriais)
Resíduos                                                     (SP, Resíduos )