### Importação das bibliotecas

In [899]:
import pandas as pd
from warnings import filterwarnings

#### Filtrando os avisos para aparecerem apenas uma vez

In [900]:
filterwarnings('once')

### Lendo o arquivo json

##### É possível notar que os dados estão aninhados, portanto é preciso normailzá-los

In [901]:
dados = pd.read_json(
    r'C:\Estudos\alura\data-science\7-manipulacao-dados\dados\dados_hospedagem.json'
)

dados.head()

                                         info_moveis
0  {'avaliacao_geral': '10.0', 'experiencia_local...
1  {'avaliacao_geral': '10.0', 'experiencia_local...
2  {'avaliacao_geral': '10.0', 'experiencia_local...
3  {'avaliacao_geral': '10.0', 'experiencia_local...
4  {'avaliacao_geral': '10.0', 'experiencia_local...

In [902]:
dados = pd.json_normalize(
    dados['info_moveis'] # Coluna que será normalizada
)

dados.head()

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,[This clean and comfortable one bedroom sits r...,[Lower Queen Anne is near the Seattle Center (...,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[Real Bed, Futon, Futon, Pull-out Sofa, Real B...","[{Internet,""Wireless Internet"",Kitchen,""Free P...","[$0, $0, $0, $0, $0, $350.00, $350.00, $350.00...","[$0, $0, $0, $20.00, $15.00, $28.00, $35.00, $...","[$110.00, $45.00, $55.00, $52.00, $85.00, $50...."
1,10.0,--,10,[Welcome to the heart of the 'Ballard Brewery ...,"[--, Capital Hill is the heart of Seattle, bor...","[2, 3, 2, 3, 3, 3, 2, 1, 2, 2, 2]","[3, 4, 2, 3, 3, 3, 3, 3, 3, 4, 3]","[5, 6, 8, 3, 3, 5, 4, 5, 6, 7, 4]","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{TV,Internet,""Wireless Internet"",Kitchen,""Fre...","[$500.00, $300.00, $0, $300.00, $300.00, $360....","[$125.00, $100.00, $85.00, $110.00, $110.00, $...","[$350.00, $300.00, $425.00, $300.00, $285.00, ..."
2,10.0,--,11,[New modern house built in 2013. Spectacular ...,[Upper Queen Anne is a charming neighborhood f...,[4],[5],[7],[Real Bed],"[{TV,""Cable TV"",Internet,""Wireless Internet"",""...","[$1,000.00]",[$300.00],[$975.00]
3,10.0,--,12,[Our NW style home is 3200+ sq ft with 3 level...,[The Views from our top floor! Wallingford ha...,"[3, 3, 3, 3, 3, 3, 3, 3]","[6, 6, 5, 5, 5, 5, 4, 4]","[6, 6, 7, 8, 7, 7, 6, 6]","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{Internet,""Wireless Internet"",Kitchen,""Free P...","[$500.00, $500.00, $500.00, $500.00, $500.00, ...","[$225.00, $300.00, $250.00, $250.00, $250.00, ...","[$490.00, $550.00, $350.00, $350.00, $350.00, ..."
4,10.0,--,14,"[Perfect for groups. 2 bedrooms, full bathroom...",[Safeway grocery store within walking distance...,"[2, 3]","[2, 6]","[3, 9]","[Real Bed, Real Bed]","[{TV,Internet,""Wireless Internet"",Kitchen,""Fre...","[$300.00, $2,000.00]","[$40.00, $150.00]","[$200.00, $545.00]"

<h3>
    <p style="font-size: 16px;">avaliacao_geral: refere-se à média de notas dadas para a avaliação da hospedagem no imóvel.</p>
    <p style="font-size: 16px;">experiencia_local: descreve as experiências oferecidas durante a hospedagem no imóvel.</p>
    <p style="font-size: 16px;">max_hospedes: informa a quantidade máxima de hóspedes que o local permite.</p>
    <p style="font-size: 16px;">descricao_local: descreve o imóvel.</p>
    <p style="font-size: 16px;">descricao_vizinhanca: descreve a vizinhança ao redor do imóvel.</p>
    <p style="font-size: 16px;">quantidade_banheiros: informa a quantidade de banheiros disponíveis.</p>
    <p style="font-size: 16px;">quantidade_quartos: informa a quantidade de quartos disponíveis.</p>
    <p style="font-size: 16px;">quantidade_camas: informa a quantidade de camas disponíveis.</p>
    <p style="font-size: 16px;">modelo_cama: informa o modelo de cama oferecido.</p>
    <p style="font-size: 16px;">comodidades: informa as comodidades oferecidas pelo imóvel.</p>
    <p style="font-size: 16px;">taxa_deposito: informa a taxa de depósito mínima para segurança de hospedagem.</p>
    <p style="font-size: 16px;">taxa_limpeza: informa a taxa cobrada para o serviço de limpeza.</p>
    <p style="font-size: 16px;">preco: refere-se ao preço base a ser cobrado pela diária no imóvel.</p>
</h3>

### Desagrupamento dos dados

#### Criando uma lista com os índices que devem ser "explodidos"

In [903]:
colunas_agrupadas = list(
    dados.loc[
        :,
        'descricao_local' : 'preco'
    ]
)

colunas_agrupadas

['descricao_local',
 'descricao_vizinhanca',
 'quantidade_banheiros',
 'quantidade_quartos',
 'quantidade_camas',
 'modelo_cama',
 'comodidades',
 'taxa_deposito',
 'taxa_limpeza',
 'preco']

In [904]:
# Explodindo os dados

dados = dados.explode(colunas_agrupadas).reset_index(drop=True)

In [905]:
dados.head()

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,This clean and comfortable one bedroom sits ri...,Lower Queen Anne is near the Seattle Center (s...,1,1,1,Real Bed,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",$0,$0,$110.00
1,10.0,--,1,Our century old Upper Queen Anne house is loca...,"Upper Queen Anne is a really pleasant, unique ...",1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$0,$0,$45.00
2,10.0,--,1,Cozy room in two-bedroom apartment along the l...,The convenience of being in Seattle but on the...,1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$0,$0,$55.00
3,10.0,--,1,Very lovely and cozy room for one. Convenientl...,"Ballard is lovely, vibrant and one of the most...",1,1,1,Pull-out Sofa,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",$0,$20.00,$52.00
4,10.0,--,1,The “Studio at Mibbett Hollow' is in a Beautif...,--,1,1,1,Real Bed,"{""Wireless Internet"",Kitchen,""Free Parking on ...",$0,$15.00,$85.00

In [906]:
# dados.info()

In [907]:
import numpy as np

In [908]:
# Mudando o tipo da coluna de object para np.int64

dados['max_hospedes'] = dados['max_hospedes'].astype(np.int64)

In [909]:
# Listando todas as colunas que devem ser transformadas em np.int64

col_numericas = ['quantidade_banheiros', 'quantidade_quartos', 'quantidade_camas']

In [910]:
dados[col_numericas] = dados[col_numericas].astype(np.int64)

In [911]:
# dados.info()

In [912]:
# Mudando a coluna avaliação_geral para o tipo np.float64

dados['avaliacao_geral'] = dados['avaliacao_geral'].astype(np.float64)

In [913]:
# Verificando os tipos de dados

# dados.info()

### Tratando a coluna de preço

In [914]:
dados['preco']

0       $110.00
1        $45.00
2        $55.00
3        $52.00
4        $85.00
         ...
3813    $299.00
3814    $199.00
3815    $400.00
3816    $250.00
3817    $350.00
Name: preco, Length: 3818, dtype: object

#### Usando o método apply() para aplicar uma função de tratamento da coluna

In [915]:
dados['preco'] = dados['preco'].apply(
    lambda x: x.replace('$', '').replace(',', '').strip()
).astype(np.float64)

In [916]:
# dados.info()

In [917]:
dados.head(2)

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,This clean and comfortable one bedroom sits ri...,Lower Queen Anne is near the Seattle Center (s...,1,1,1,Real Bed,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",$0,$0,110.0
1,10.0,--,1,Our century old Upper Queen Anne house is loca...,"Upper Queen Anne is a really pleasant, unique ...",1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$0,$0,45.0

In [918]:
cols = ['taxa_deposito', 'taxa_limpeza']

In [919]:
dados[cols] = dados[cols].map(
    lambda x: x.replace(',', '').replace('$', '').strip()
).astype(np.float64)

In [920]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   avaliacao_geral       3162 non-null   float64
 1   experiencia_local     3818 non-null   object
 2   max_hospedes          3818 non-null   int64
 3   descricao_local       3818 non-null   object
 4   descricao_vizinhanca  3818 non-null   object
 5   quantidade_banheiros  3818 non-null   int64
 6   quantidade_quartos    3818 non-null   int64
 7   quantidade_camas      3818 non-null   int64
 8   modelo_cama           3818 non-null   object
 9   comodidades           3818 non-null   object
 10  taxa_deposito         3818 non-null   float64
 11  taxa_limpeza          3818 non-null   float64
 12  preco                 3818 non-null   float64
dtypes: float64(4), int64(4), object(5)
memory usage: 387.9+ KB

In [921]:
dados.head(3)

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,This clean and comfortable one bedroom sits ri...,Lower Queen Anne is near the Seattle Center (s...,1,1,1,Real Bed,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",0.0,0.0,110.0
1,10.0,--,1,Our century old Upper Queen Anne house is loca...,"Upper Queen Anne is a really pleasant, unique ...",1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",0.0,0.0,45.0
2,10.0,--,1,Cozy room in two-bedroom apartment along the l...,The convenience of being in Seattle but on the...,1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",0.0,0.0,55.0

### Tratamento das colunas textuais para tokenização

#### Passo 1 - deixar tudo minúsculo

In [922]:
dados['descricao_local'] = dados['descricao_local'].apply(
    lambda x: x.lower()
)

dados['descricao_local']

0       this clean and comfortable one bedroom sits ri...
1       our century old upper queen anne house is loca...
2       cozy room in two-bedroom apartment along the l...
3       very lovely and cozy room for one. convenientl...
4       the “studio at mibbett hollow' is in a beautif...
                              ...
3813    beautiful craftsman home in the historic wedgw...
3814    located in a very easily accessible area of se...
3815    this home is fully furnished and available wee...
3816    this business-themed modern home features:  *h...
3817    this welcoming home is in the quiet residentia...
Name: descricao_local, Length: 3818, dtype: object

In [923]:
dados['descricao_local'][3169]

"built, run and supported by seattle tech and start up veterans, grokhome's focus is to create a supportive environment for smart people working on interesting projects, start ups and more. this listing is an upper bunk, in a 2-person shared room. *note: this fall, there will be major renovations happening on one kitchen and bathroom at a time. there will always be two other working kitchens and two working bathrooms in the house. we'll work to minimize the impact these renovations have on your stay. **this listing is only available to those working in the tech/science space. live in a hacker house, and immerse yourself in the seattle tech scene. you can expect to be surrounded by smart people solving big problems or working on something fun. we have frequent demo nights, and love when our guests share something they are passionate about. if you're new to the city, our deep ties to the seattle tech scene can help you get involved. expand your network, develop your ideas, and learn somet"

#### Passo 2 - Remover caracteres indesejados

#### Explicação do regex: 
Remover todos os caracteres exceto: <br>
letras de a-z minúsculas; <br>
letras de A-Z maiúsculas; <br>
números de 1-9; <br>

In [924]:
dados['descricao_local'] = dados['descricao_local'].str.replace(
    r"[^a-zA-Z0-9'-]",
    " ",
    regex=True
)

In [925]:
# dados['descricao_local'][2]

#### Regex para remover os traços (-) fora das palavras compostas

##### Lembrar de sempre usar raw strings para evitar erros de sintaxe

In [926]:
dados['descricao_local'] = dados['descricao_local'].str.replace(
    r'(?<!\w)-(?!\w)',
    " ",
    regex=True
)

In [927]:
dados['descricao_local'] = dados['descricao_local'].str.split()

In [928]:
# dados.head(2)

In [929]:
dados['comodidades'] = dados['comodidades'].str.replace(
    r'\{|}|\"',
    '',
    regex=True
).str.split(',')

In [930]:
# dados.head(2)

In [931]:
dados['descricao_vizinhanca'] = dados['descricao_vizinhanca'].apply(
    lambda x: x.lower()
)

In [932]:
dados['descricao_vizinhanca'] = dados['descricao_vizinhanca'].str.replace(
    r'(?<!\w)-(?!\w)',
    ' ',
    regex=True
).str.replace(
    r"[^a-zA-Z0-9'-]",
    ' ',
    regex=True
).str.split()

In [933]:
dados.head(2)

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,"[this, clean, and, comfortable, one, bedroom, ...","[lower, queen, anne, is, near, the, seattle, c...",1,1,1,Real Bed,"[Internet, Wireless Internet, Kitchen, Free Pa...",0.0,0.0,110.0
1,10.0,--,1,"[our, century, old, upper, queen, anne, house,...","[upper, queen, anne, is, a, really, pleasant, ...",1,1,1,Futon,"[TV, Internet, Wireless Internet, Kitchen, Fre...",0.0,0.0,45.0

### Manipulação do tipo datetime64[ns]

In [934]:
dt_data = pd.read_json(
    r'C:\Estudos\alura\data-science\7-manipulacao-dados\dados\moveis_disponiveis.json'
)

In [935]:
dt_data.head()

    id        data  vaga_disponivel preco
0  857  2016-01-04            False  None
1  857  2016-01-05            False  None
2  857  2016-01-06            False  None
3  857  2016-01-07            False  None
4  857  2016-01-08            False  None

In [936]:
dt_data['data'] = pd.to_datetime(dt_data['data'])

In [937]:
# dt_data.info()

#### Usando o método .strftime() para formatação do tempo

In [938]:
selecao = dt_data['data'].dt.strftime(r'%Y-%m')

#### Contando a quantidade de vagas disponíveis para cada mês

In [939]:
subset = dt_data.groupby(
    selecao,
)['vaga_disponivel'].sum()

In [940]:
subset

data
2016-01    16543
2016-02    20128
2016-03    23357
2016-04    22597
2016-05    23842
2016-06    23651
2016-07    22329
2016-08    22529
2016-09    22471
2016-10    23765
2016-11    23352
2016-12    24409
2017-01     1574
Name: vaga_disponivel, dtype: int64

### Substituindo os valores da coluna "preco"

In [941]:
dt_data['preco'] = dt_data['preco'].str.replace(
    '$',
    ''
).str.replace(
    ',',
    ''
).fillna('0.0').astype(np.float64)

In [942]:
dt_data['preco']

0           0.0
1           0.0
2           0.0
3           0.0
4           0.0
          ...
364995    140.0
364996    140.0
364997    140.0
364998    140.0
364999      0.0
Name: preco, Length: 365000, dtype: float64